<ion-content [fullscreen]="true">
  <div class="glass-content">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="../../../assets/img/tigre.png" alt="logo-tigre">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <h1 class="titulo-app">Zoo Center</h1>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center botones">
        <ion-col size="8">
          <ion-button class="boton-font" shape="round" color="success" expand="block">Ingreso</ion-button>
        </ion-col>
        <ion-col size="8">
          <ion-button routerLink="/registro" class="boton-font" shape="round" color="success" expand="block">Registro</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
