ion-content{
    --ion-background-color: url(/assets/img/fondo.png) no-repeat center center / cover;
}

.titulo-app{
    margin-top: 5rem;
    font-weight: bolder;
    color: rgb(247, 247, 247);
    font-size: 4rem;
}

.boton-font{
    font-weight: bolder;
}

.botones{
    margin-top: 9rem;
}